<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="MobilePhonePageFirefoxTest">
    <test name="FirefoxTest">
        <parameter name="tehnology" value="PLS"/>
        <parameter name="platform" value="Qualcomm Snapdragon"/>
        <classes>
            <class name="com.MobilePhonePageFirefoxTests" />
        </classes>
    </test>
</suite>